<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link type='stylesheet' src='https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.css'/> -->
    <title>GroupUI</title>
  </head>
  <body>
    <!-- built files will be auto injected -->
    <div class="container">
      <h1 class="layout-left">测算项目模板</h1>
      <p class="layout-left">万年历测算项目基础样式、组件库，基于历史项目实际经验。</p>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">菜单</div>
            <img src="../static/images/icon_nav_form.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                折叠菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                侧边栏菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                底部悬浮菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">基础组件</div>
            <img src="../static/images/icon_nav_layout.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                折叠菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                手风琴菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                底部悬浮菜单
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">选择器</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                时间选择
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                日期选择
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                地点选择
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">弹出框（Toast）</div>
            <img src="../static/images/icon_nav_feedback.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                冒泡提示log
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                确认框confirm
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                错误提示error
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                信息说明info
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">加载器（Loading）</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                加载中loading
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                上滑刷新
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                下拉加载更多
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">富内容组件</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                卡片swiper
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                封面swiper
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                上下滚动轮播
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                左右滑动scroll=>DeeioTouch
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">小插件</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                回到顶部
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                长按复制（长按=>DeeioTouch）
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">布局</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                flex
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                grid
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                viewport（百分比）布局
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                vw布局
            </div>
            <div class="panel-line-foot"></div>
          </div>
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                rem布局
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
      <div class="accordion v-part">
        <div class="accordion-header">
          <div class="flex-box">
            <div class="">控件</div>
            <img src="../static/images/icon_nav_select.png" alt="" style="width: 30px;height: 30px;">
          </div>
        </div>
        <div class="accordion-body lists">
          <div class="lists-item v-span panel-line">
            <div class="panel-line-body">
                月视图
            </div>
            <div class="panel-line-foot"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">Copyright &copy; 2017-2018 GroupUI</div>
    </div>
  </body>
</html>
