.page-head {
    padding: 40px;
    .page-title {
        text-align: left;
        font-size: 20px;
        font-weight: 400;
    }
    .page-desc {
        margin-top: 5px;
        color: #888;
        text-align: left;
        font-size: 14px;
    }
}
.page-body {
    padding-bottom: 20px;
}
.page-foot {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}